<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <div>
        <h1>Resultado da Operação</h1>
        <p>O resultado da operação é: <span id="resultado"></span></p>
        <a href="/">Voltar</a>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const resultado = urlParams.get('resultado');
        document.getElementById('resultado').innerText = resultado;
    </script>
</body>
</html>
